.produkt{
	max-height:95%;
	max-width:95%;
	object-fit:cover;
}

.menuText, menuText a{
	font-size: 28px;
	font-weight:500;
	color: black;
	text-decoration: none;
	margin: 0;
	padding:5px 5px;
	margin:0 10px;
}

.menuText:hover{
	color:#00317a;
}

.karta:hover{
	box-shadow: 0px 30px 25px 0px rgba(0,0,0,0.1);
	border-radius:15px;
}
.produkt-full{
max-height:80%;
max-width:80%;
object-fit:cover;
}
.tlacitko{
	padding:5px 10px;
	background:lightslategray;
	border-radius:10px;
	text-decoration:none;
	color:white;
}
.tlacitko:hover{
	background:green !important;
	color:white;
}

.brand{
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
	color: black;
	text-decoration: none;
	--bs-link-hover-color: #00317a;
}

.riadok {
	display: flex;
	flex-wrap: wrap;
}

.menu {
	position: sticky !important;
	top: 0;
	background: #28baff;
}

.icons{
	width: 30px;
	height: 30px;
}

.bg-color{
	background-color: #9dd2ea;
}

.align{
	text-align: center;
}

.gap{
	padding-top: 15px;
	padding-bottom: 15px;
}

.logo{
	width:60px;
	height:40px;
}

.light-grey{
	background-color: rgba(215, 215, 215, 0.78);
}

.grey{
	background-color: rgba(206, 206, 206, 0.78);
}

.logo-img{
	width: 120px;
	height: 100px;
}
.row{
	--bs-gutter-x: 0rem !important;
}




	